@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient {
    background: linear-gradient(to right, #F87BFF, #FB92CF, #FFDD9B, #C2F0B1, #2FD8FE);
  }

* {
  margin: 0;
  box-sizing: border-box;
}
